@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Varela+Round&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #101010 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
.row, .row div{
    /* background-color: #101010; */
}

.container{
    margin-top: 20px;
    background-color: #1e1e1e !important;
    border-radius: 60px !important;
}

/* Main Navbar Styles */
nav{
    margin: 10px;
    border-radius: 40px ;
}

.navbar {
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding: 0 10px;
    padding-right: 40px;
}

nav, .navbar *, .nav-item li{
    background-color: #1e1e1e !important;
    color: white;
}
div .container-fluid{
    border-radius: 50px;
}

.navbar-brand {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.navbar-brand2{
    display: none;
    text-decoration: none;
    font-size: 19px;

    margin-left: 10px;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.logo:hover{
    color: #bab8b8; /* Change to the desired hover color */
}

.nav-links li a:hover {
    color: #f39c12; /* Change to the desired hover color */
}

.menu-icon{
    display: none;
    size: 24px;
}

h1, .content, strong, p{
    background-color: #1e1e1e !important;
    color: white;
}

.container a, p{
    margin: 10px 30px !important;
}

/* Responsive Styles */
@media screen and (max-width: 668px) {
    .navbar {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li:last-child {
        margin-bottom: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}
/* Navbar style ends here */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    height: 70vh;
}

.content {
    text-align: left;
    max-width: 700px;
    /* padding: 20px; */
}

.content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.get-started-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f7caab;
    font-weight: bold;
    border: stroke 1px #ff6803;
    border-radius: stroke 5px;
    border-color: #ff6803;
    color: #ff6803;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    font-size: 15px;
}

.get-started-button:hover{
    background-color: #ff3e03;
    color: #fff;
}

.get-started-button:active{
    transform: scale(0.9);
}

.image {
    text-align: right;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 450px){
    .navbar-brand{
        display: none;
    }
    .navbar-brand2{
        display: flex;
    }
    
    .container h1{
        margin: 15px 15px;
        font-size: 30px;
    }
    .container p{
        font-size: 15px;
    }

}